<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSCornerRadius</key>
    <integer>10</integer>
    <key>com.github.googlei18n.ufo2ft.featureWriters</key>
    <array>
      <dict>
        <key>class</key>
        <string>CursFeatureWriter</string>
      </dict>
      <dict>
        <key>class</key>
        <string>KernFeatureWriter</string>
      </dict>
      <dict>
        <key>class</key>
        <string>MarkFeatureWriter</string>
      </dict>
      <dict>
        <key>class</key>
        <string>GdefFeatureWriter</string>
      </dict>
    </array>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.Master Icon Glyph Name</key>
    <string>N</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>40</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.customValue</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.customValue1</key>
    <integer>40</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>2</integer>
    <key>designspace.location</key>
    <array>
      <array>
        <string>X-Transparency</string>
        <real>650.5</real>
      </array>
      <array>
        <string>X-Opacity</string>
        <real>283.3</real>
      </array>
      <array>
        <string>Y-Opacity</string>
        <integer>196</integer>
      </array>
      <array>
        <string>relative x advance</string>
        <integer>80</integer>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>a.alt</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>space</string>
      <string>nbspace</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>question</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>at</string>
      <string>ampersand</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>cent</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>A</key>
      <string>base</string>
      <key>B</key>
      <string>base</string>
      <key>C</key>
      <string>base</string>
      <key>D</key>
      <string>base</string>
      <key>E</key>
      <string>base</string>
      <key>F</key>
      <string>base</string>
      <key>G</key>
      <string>base</string>
      <key>H</key>
      <string>base</string>
      <key>I</key>
      <string>base</string>
      <key>J</key>
      <string>base</string>
      <key>K</key>
      <string>base</string>
      <key>L</key>
      <string>base</string>
      <key>M</key>
      <string>base</string>
      <key>N</key>
      <string>base</string>
      <key>O</key>
      <string>base</string>
      <key>P</key>
      <string>base</string>
      <key>Q</key>
      <string>base</string>
      <key>R</key>
      <string>base</string>
      <key>S</key>
      <string>base</string>
      <key>T</key>
      <string>base</string>
      <key>U</key>
      <string>base</string>
      <key>V</key>
      <string>base</string>
      <key>W</key>
      <string>base</string>
      <key>X</key>
      <string>base</string>
      <key>Y</key>
      <string>base</string>
      <key>Z</key>
      <string>base</string>
      <key>a</key>
      <string>base</string>
      <key>a.alt</key>
      <string>base</string>
      <key>b</key>
      <string>base</string>
      <key>c</key>
      <string>base</string>
      <key>cent</key>
      <string>base</string>
      <key>d</key>
      <string>base</string>
      <key>dollar</key>
      <string>base</string>
      <key>e</key>
      <string>base</string>
      <key>f</key>
      <string>base</string>
      <key>g</key>
      <string>base</string>
      <key>h</key>
      <string>base</string>
      <key>i</key>
      <string>base</string>
      <key>k</key>
      <string>base</string>
      <key>l</key>
      <string>base</string>
      <key>m</key>
      <string>base</string>
      <key>n</key>
      <string>base</string>
      <key>o</key>
      <string>base</string>
      <key>p</key>
      <string>base</string>
      <key>q</key>
      <string>base</string>
      <key>r</key>
      <string>base</string>
      <key>s</key>
      <string>base</string>
      <key>t</key>
      <string>base</string>
      <key>trademark</key>
      <string>base</string>
      <key>u</key>
      <string>base</string>
      <key>v</key>
      <string>base</string>
      <key>w</key>
      <string>base</string>
      <key>x</key>
      <string>base</string>
      <key>y</key>
      <string>base</string>
      <key>z</key>
      <string>base</string>
    </dict>
    <key>public.postscriptNames</key>
    <dict>
      <key>euro</key>
      <string>Euro</string>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
